{% extends 'account/base.html' %}

{% block title %} Bookmark an image {% endblock %}

{% block content %}
    <h2>Bookmark an image</h2>
    <div class="grid grid-cols-2">
        <div class="">
            <img src="{{ request.GET.url }}" class="h-full" alt="">
        </div>
        <form method="POST" class="bg-gray-200 p-3 space-y-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-orange-400 py-2 px-3">Bookmark it!</button>
        </form>
    </div>
    

{% endblock %}